html {
  background-color: coral;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.canvas {
  background-color: antiquewhite;
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
}

.canvas__row {
  flex: 1;
  display: flex;
}

.canvas__pixel {
  flex: 1;
}

.canvas__pixel--black {
  background-color: black;
}

.canvas__pixel--red {
  background-color: red;
}

.canvas__pixel--blue {
  background-color: blue;
}

.canvas__pixel--green {
  background-color: green;
}

.canvas__pixel--yellow {
  background-color: yellow;
}

.canvas__pixel--orange {
  background-color: orangered;
}

.canvas__pixel--purple {
  background-color: purple;
}

.canvas__pixel--cyan {
  background-color: cyan;
}

.canvas__pixel--magenta {
  background-color: magenta;
}

.canvas__pixel--brown {
  background-color: saddlebrown;
}

.control-container {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.control-container__subcontainer {
  flex-direction: row;
  margin-top: 0px;
}

.button {
  color: antiquewhite;
  background-color: coral;
  border: 4px solid antiquewhite;
  border-radius: 12px;
  font-size: 30px;
  font-weight: bold;
  padding: 8px;
}

.button--selected {
  background-color: goldenrod;
}

.button__preview {
  margin: 0;
  height: 50px;
  aspect-ratio: 1;
  border-radius: 4px;
}

.button__preview--black {
  background-color: black;
}

.button__preview--red {
  background-color: red;
}

.button__preview--blue {
  background-color: blue;
}

.button__preview--green {
  background-color: green;
}

.button__preview--yellow {
  background-color: yellow;
}

.button__preview--orange {
  background-color: orangered;
}

.button__preview--purple {
  background-color: purple;
}

.button__preview--cyan {
  background-color: cyan;
}

.button__preview--magenta {
  background-color: magenta;
}

.button__preview--brown {
  background-color: saddlebrown;
}